@import "variables";

/* Au niveau le plus haut du code */
@media screen and (min-width: 990px) {
    .container{
        max-width: 1140px !important;

        #home-left{
            display: inline-block !important;
            width: 50% !important;
        }
    
        #home-right{
            display: inline-block !important;
            width: 36% ;
            height: 8%;
            margin: auto;
            img{
                padding: 10px;
                border: $primary-color 10px solid;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .about-left{
            text-align: center;
            display: inline-block !important;
            width: 35%;

            img{
                width: 100% !important;
                height: 100% !important;
                padding-right: 30px;
            }
        }

        .about-right{
            display: inline-block !important;
            width: 64%;
            .top-right-skill, .top-left-skill, .bottom-right-skill, .bottom-left-skill{
                margin-right: 1.5rem;
                display: inline-block;
                width: 45% !important;
            }

            .about-resume-top, .about-resume-bottom{
            
                display: inline-block !important;
                width: 49% !important;

                .about-resume-content{
                    margin-left: 1px !important;
                }
                
            }

        }

        .navigation{

            padding: 0 100px;
        }

        .experience-content{

            .content-block{

                position: relative;

                margin: 20px;
                display: flex;

                .first-content-transition, .second-content-transition, .third-content-transition{
                    display: inline-block !important;
                    text-align: center;
                    width: 30px;
                    height: 100%;
                    position: relative;

                    span{
                        content: "";
                        display: block !important;
                        border: 1px solid $background-color;
                        position: absolute;
                    }
                }

                .first-content-transition{
                    span{
                        display: block;
                        top: 40px;
                        left: 50%;
                        height: 250px;
                    }
                }

                .third-content-transition{
                    span{
                        display: block;
                        top: 0;
                        left: 50%;
                        height: 35px;
                    }
                }

                .second-content-transition{
                    span{
                        display: block;
                        top: 0;
                        left: 50%;
                        height: 280px;
                    }
                }

                .content-header{
                    display: inline-block;
                    width: 28%;
                    text-align: right;
                    padding-top: 25px;
    
                    h3{
                        margin: 0 !important;
                    }
                }
    
                .description{
                    display: inline-block;
                    width: 60% !important;
                }

            }
        }

        #filters{
            margin: 0 30% 0 30%;
        }

        #gallery{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .gallery-content{
            display: inline-block;
        }

        .contact-data{
            .data{
                display: inline-block;
                width: 18% !important;
            }
        }

        .contact-infos{
            display: flex !important;
            text-align: center;
            align-items: center;
            .contact-form{
                display: inline-block;
                width: 40% !important;
            }
    
            .google-map{
                display: inline-block;
                width: 40% !important;
            }
        }

    }
}