@import "variables";

body {

    position: relative;
    padding: 0;
    margin: 0;

    // modifier l'opacité du header lors du scroll
    .scrolled {
        opacity: 0.96;
        z-index: 99;

        h2{
            color: $fourth-color;
        }

    }

    header{
        width: 100%;
        color: $secondary-color;
        background-color: $background-color;
        position: fixed;
        top: 0;

        h2{
            width: fit-content;
            display: inline-block;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            margin-left: 10px;
        }

        // design navbar screen > 950px
        nav{
            display: inline-block;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            font-size: 16px;
    
            a{
                display: none;
            }

            ul {
                position: absolute;
                right: 10px;
                list-style: none;
                margin: 0;
                padding: 0;
    
                li {
                display: inline-block;
                margin-left: 30px;
                }
            }
        }
    }

    .container{
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    // design partie home
    #home{
        height: 800px;
        display: flex;
        align-items: center;
        background-color: $background-color;
        color: $secondary-color;

        .container{

            display: flex;

            #home-left{
                width: 100%;
            }

            #home-right{
                display: none;
            }

            // text avec text ecriture dynamique à utiliser avec le fichier js text-animation.js
            .description{
                font-size: 25px;
                font-weight: 700;
                line-height: 40px;
    
                h3{
                    color: $primary-color;
                }
        
                .typewrite{
                    text-decoration: none;
                    padding-left: 5px;
                }
        
                .wrap{
                    color: $primary-color;
                }
            }

            // block text de description de la home
            .content{
                color: $third-color;
                margin: 25px 0 40px;
                font-size: 18px;
                line-height: 1.8;
                font-weight: 400;
            }

            .links {

                a.btn {

                  display: inline-block;
                  padding: 1rem 1rem;
                  font-size: 1rem;
                  font-weight: 500;
                  text-decoration: none;
                  color: #fff;
                  background-color: $background-color;
                  border: 1px solid $primary-color;
                  border-radius: 4px;
                  position: relative;
                  z-index: 1;
                  margin-right: 1.5rem;

                  &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background-color: $primary-color;
                    border-radius: 4px;
                    transition: width 0.3s ease-in-out;
                    z-index: -1;
                  }
                  &:hover {
                    color: $background-color;
                    &::before {
                      width: 100%;
                    }
                  }
                }
            }

            .social{
                margin-top: 30px;
                .icon-social{
                    width: 30px;
                    height: 30px;
                    padding: 10px;
                    border-radius: 50%;
                    border: $background-color 1px solid;
                    background-color: $primary-color;
                    color: $third-color;
                    margin-right: 1.5rem;

                    &:hover{
                        cursor: pointer;
                        background-color: $background-color;
                        border: $primary-color 1px solid;
                    }
                }
            }
        }
    }

    #about{
        .container{
            .about-left{
                display: block;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .about-right{
                display: block;

                h2{
                    color: $primary-color;
                    text-transform: uppercase;
                    font-size: 40px;
                }

                #about-context{
                    color: $background-color;
                    font-size: 25px;
                }

                p{
                    line-height: 30px;
                    color: $background-color;
                }

                .top-left-skill, .top-right-skill{
                    width: 100%;              
                }

                .about-skills{

                    margin-bottom: 50px;

                    h5{
                        font-size: 18px;
                        font-weight: 500;
                        color: $background-color;
                        margin-bottom: 0.5rem;
                    }
                }

                .php{
                    width: 80%;
                }

                .bdd {
                    width: 60%;
                }

                .js{
                    width: 90%;
                }

                .html{
                    width: 75%;
                }

                .progressbar-wrapper {
                    background-color: $progress-background;
                    color: white;
                    border-right: 1px;
                    border-radius: 0.375rem;;
                    width: 100%;
                    height: 100%;
                  }
                  
                  .progressbar {
                    color: $background-color;
                    text-align: right;
                    height: 100%;
                    font-size: 14px;
                    font-weight: bold;
                  }
                  
                  .progressbar[title="level"] {
                     background-color: $primary-color;
                  }
            }

            .about-resume{
                width: 100%;

                .about-resume-top{
                    margin-bottom: 60px;
                }

                .about-resume-top, .about-resume-bottom{
                    width: 100%;
                    padding-bottom: 60px;

                    .about-resume-content{
                        display: inline-block;
                        width: 49%;
                        margin: auto;
                        text-align: center;
                        position: relative;

                        .content-border{

                            width: 100px;
                            height: 100px;
                            padding: 15px;
                            margin: auto;

                            font-size: 15px;

                            border: 10px double rgb(176, 178, 191,0.2);
                            border-radius: 50%;

                            z-index: 1;
                            h5{
                                font-size: 25px;
                                font-weight: 900;
                                color: $primary-color;
                                margin-bottom: 0.2rem;
                                margin-top: 0.2rem;
                            }
    
                            p{
                                color: $background-color;
                                margin-top: 0.2rem;
                            }
                        }
                        .content-img{
                            background-color: rgb(255, 255, 255, 0.6);
                            border-radius: 50%;
                            box-shadow: 0 0 8px rgba(0,0,0,0.5), 0 0 0 10px rgba(255,255,255,0.4);
                            position: absolute;
                            top: 82%;
                            left: 35%;
                            z-index: 2;
                            padding: 16px;
                            img{ 
                                width: 30px;
                                height: 30px;
                            }
                        }
                        
                    }   

                }
            }
        }
    }
}