// Couleurs
$primary-color: #3498DB;
$secondary-color: #fff;
$third-color: #afb2bf;
$background-color: #2D3436;


// Typographie
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$base-font-size: 16px;
